#about {
  h1 {
    font-size: 75px;
    line-height: 1;
    font-weight: 700;
  }
  span {
    color: #bd5d38;
  }
  .info > a {
    color: #bd5d38;
    text-decoration: none;
  }
  .social-icon {
    color: #495057;
  }
  .info {
    font-size: 25px;
    font-weight: 600;
    color: $title-color;
    font-family: $text-font;
    text-transform: uppercase;
    padding-bottom: 20px;

    a {
      color: $primary-color;
    }
  }
  .social-icons {
    a {
      text-decoration: none;
    }

    .social-icon > i {
      width: 45px;
      border-radius: 100%;
      margin-right: 30px;
      margin-top: 50px;
    }
  }
}
