.container {
  display: flex;
  flex-direction: column;
  padding-left: 17rem;
  font-family: "Saira Extra Condensed", sans-serif;

  .main-container {
    padding: 50px;
  }
  .resume-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
