#about {
  h1 {
    font-size: 60px;
    line-height: 1;
    font-weight: 700;
  }
  span {
    color: #bd5d38;
  }
  .info > a {
    color: #bd5d38;
    text-decoration: none;
  }
  .social-icon {
    color: #495057;
  }
}
